<div class="input-group mb-3">
    <div class="input-group-prepend">
        <div class="dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{field}}:</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div *ngFor="let item of keys(); let id=index">
                    <div class="dropdown-item" (click)='selectField(id)'>{{item}}</div>
                </div>
            </div>
        </div>
    </div>
    <input type="text" class="form-control" placeholder="" (keyup)="filter($event)">
    <div class="input-group-append">
        <a routerLink="/user/list/create" class="btn btn-outline-secondary" role="button">Добавить пользователя</a>
    </div>
</div>
<table mdbTable class="table" id="myTable">
    <tr>
        <th [mdbTableSort]="users" sortBy="id">#</th>
        <th [mdbTableSort]="users" sortBy="firstName">Имя</th>
        <th [mdbTableSort]="users" sortBy="middleName">Фамилия</th>
        <th [mdbTableSort]="users" sortBy="lastName">Отчество</th>
        <th [mdbTableSort]="users" sortBy="phoneNumber">Номер телефона</th>
        <th [mdbTableSort]="users" sortBy="regDate">Дата регистрации</th>
        <th>Действия</th>
    </tr>
    <tr *ngFor="let user of users; let id=index">
        <th>{{user.id}}</th>
        <th>{{user.firstName}}</th>
        <th>{{user.middleName}}</th>
        <th>{{user.lastName}}</th>
        <th>{{user.phoneNumber}}</th>
        <th>{{user.regDate}}</th>
        <!-- при изменении в url добавляется id пользователя -->
        <th><a [routerLink]="['/user/list/edit', user.id]" class="btn" role="button">Изменить</a><button type="button" (click)="delete(id,user.id)">Удалить</button>
        </th>
    </tr>
</table>